.navigation-links-nav {
  flex: 0 0 auto;
  right: 3rem;
  display: flex;
  position: relative;
  font-size: 1rem;
  align-items: center;
  margin-right: 10rem;
  padding-left: 2rem;
  padding-right: 2rem;
  flex-direction: row;
}
.navigation-links-navlink {
  display: contents;
}
.navigation-links-container {
  margin: 1.25rem 0 0 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
}
.navigation-links-image {
  left: .125rem;
  width: 2rem;
  display: inline;
  position: relative;
  object-fit: cover;
  line-height: 2.65rem;
  padding-bottom: .812rem;
}
.navigation-links-text {
  top: 0.043rem;
  position: relative;
  font-size: 1.25rem;
  text-align: left;
  font-family: "Raleway";
  font-weight: 600;
  line-height: 2.64rem;
  padding-bottom: .12rem;
}
.navigation-links-navlink1 {
  margin: 1.25rem 2rem 0 2rem;
  font-size: 1.25rem;
  text-align: center;
  font-family: "Raleway";
  font-weight: 600;
  text-decoration: none;
}
.navigation-links-navlink2 {
  display: contents;
}
.navigation-links-component1 {
  text-decoration: none;
}










@media(max-width: 992px) {
  .navigation-links-nav {
    justify-content: center;
  }
}
@media(max-width: 912px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink1 {
    margin-bottom: var(--dl-space-space-unit);
  }
}
